
body{
    background-color: rgba(87, 87, 221, 0.873);
    
}
input{
    border-radius: 20px;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
    width: 230px;
}
.botaobusca{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    

}
.imgbusca{
    width: 30px;
       

}
main{
    margin: auto;
    background-color: rgb(243, 243, 251);
    border-radius: 20px;
    width: 320px;
    height: 450px;

}
h1{
    text-align: center;
    
}
.grau{
   text-align: center;
   margin-left: 200px;
}
.containerdaimg{
    display: block;
    margin-left: 20px;
    background-color: rgb(68, 68, 208);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    width: 280px;
    height: 100px;
    text-align: right;
    box-shadow: 1px 1px 5px black;
    
}
.umidade{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-left: 35px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
    
}
.tempmax{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
    
}
.tempmin{
    width: 120px;
    height: 40px;
    margin-left: 35px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
    
}
.vento{
    width: 120px;
    height: 40px;
    display: inline-block;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
}